
body{
display: flex;
flex-direction: column;
align-items: center;
}
.Rectangle{
    width: 360px;
    height: 800px;
    border: 1px solid #d6d6d6;
}
.BannerLoginWelcomeback{
    color: black;
    margin-top: 119px;
    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;

}
.Rectangle1{
    width: 312px;
    height: 48px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    background: rgba(255, 255, 255, 0.08);
    margin-top: 43px;
    text-align:start ;
    margin-left: 24px;
    color: rgba(0, 0, 0, 0.70);
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
}
.Rectangle2{
    width: 312px;
    height: 48px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.40);
    background: rgba(255, 255, 255, 0.08);
    margin-top: 28px;
    margin-left: 24px;
    background-image: url(./eye_password.png);
    background-repeat: no-repeat;
    background-position: 271px;
    color: rgba(0, 0, 0, 0.70);
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    }
.ForgotPassword{
    color: #2F89FC;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    margin-top: 12px;
}
.Rectangle3{
    width: 312px;
    height: 48px;
    border-radius: 5px;
    background: #0E64D2;
    margin-top: 20px;
    margin-left: 24px;
    color: white;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
}

.text0{
    margin-top: 16px;
    margin-left: 66px;
}
.text1{
    color: rgba(0, 0, 0, 0.80);
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    float: left;
    text-align: center;
}
.text2{
    color: #2F89FC;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    float: left;
    text-align: center;
    margin-left: 11px;
}

.Rectangle4{
    width: 312px;
    height: 48px;
    border-radius: 10px;
    background: #1877F2;
    color: rgba(255, 255, 255, 0.90);
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
    margin-top: 26px;
    margin-left: 24px;
    background-image: url(./facebook\ logo.png);
    background-repeat: no-repeat;
    background-position: 8px;
}
.Rectangle5{
    width: 312px;
    height: 48px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.40);
    background: rgba(255, 255, 255, 0.02);
    margin-top: 23px;
    margin-left: 24px;
    color: rgba(0, 0, 0, 0.60);
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
    background-image: url(./google\ logo.png);
    background-repeat: no-repeat;
    background-position: 8px;
}
.line-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px ;
    margin-top: 54px;
}

.horizontal-line {
    border-top: 0,5px solid #000;
    flex-grow: 1;
}

.or-text {
    background-color: white;
    padding: 0 10px;
}
.img{
    width: 48px;
    float: left;
    height: 48px;
    border-radius: 50px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    margin-top: 68px;
    margin-left: 24px;
}
.text3{
    color: #5c5c5c;
    float: left;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 700;
    margin-top: 74px;
    margin-left: 8px;
}